<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tamu</title>
</head>
<body>
    <h1>Edit Tamu</h1>
    <form th:action="@{form}" method="post">
        <table>
            <tr>
                <td>Nama</td>
                <td>
                    <input type="text" name="nama" id="nama">
                </td>
                <td>
                    Pesan error nanti di sini
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="email" id="email">
                </td>
                <td>
                    Pesan error nanti di sini
                </td>
            </tr>
            <tr>
                <td>Kota</td>
                <td>
                    <select name="kota">
                        <option th:each="k : ${daftarKota}" th:value="${k.id}" th:text="${k.nama}">
                            Nama Kota
                        </option>
                    </select>
                </td>
                <td>
                    Pesan error nanti di sini
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" id="btnSimpan" value="Simpan">
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    </form>
</body>
</html>